<div id="Top">
  <img src="../assets/img/hands-logo.png" alt="" />
</div>
<div id="AdmMenu">
  <nav>
    <ul>
      <li>
        <a class="homeLink" [routerLink]="['/home']">
          <strong>ADMIN</strong> | Home
        </a>
      </li>
      <li>
        <a [routerLink]="['/produtos']">
          <strong>ADMIN</strong> | Produtos
        </a>
      </li>
      <li>
        <a [routerLink]="['/cases']">
          <strong>ADMIN</strong> | Cases
        </a>
      </li>
    </ul>
  </nav>
</div>