<div class="titlePage">
  Lista de Produtos
</div>
<div *ngIf="produtosList" id="ProductTable">
  <table border="0">
    <thead>
      <tr>
          <td width="35%">Produto</td>
          <td width="45%">Urls</td>
          <td width="20%"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtosList">
        <td>{{produto.nome}}</td>
        <td>{{produto.url}}</td>
        <td><a title="Alterar o Produto" [routerLink]="['/produtos-add', produto.id]">Alterar</a> | <a  title="Deletar o Produto" (click)="deleteProduct(produto.id)">Excluir</a></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btnYell floatRight" (click)="openAddPage()">Incluir Produto</button>
</div>