<app-title [title]="title"></app-title>
<div class="titlePage">
  Lista de Produtos
</div>
<div *ngIf="produtosList" id="ProductTable">
  <table border="0">
    <thead>
      <tr>
          <td align="center" width="15%">Imagem</td>
          <td width="65%">Produto</td>
          <td width="20%"></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtosList">
        <td align="center"><img [src]="produto.url" alt="" /></td>
        <td>{{produto.nome}}</td>
        <td align="center"><a title="Alterar o Produto" [routerLink]="['/produtos-add', produto.id]">Alterar</a> | <a  title="Deletar o Produto" (click)="deleteProduct(produto.id)">Excluir</a></td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btnYell floatRight" (click)="openAddPage()">Incluir Produto</button>
</div>
