<app-title [title]="title"></app-title>
<div class="titlePage">
  Lista de Cases
</div>
<div *ngIf="casesList?.length > 0" id="CaseTable">
    <table>
      <thead>
        <tr>
          <td align="center" width="15%">Imagem</td>
          <td width="65%">Case</td>
          <td width="20%"></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let case of casesList">
          <td align="center"><img [src]="case.Imagem" alt="" /></td>
          <td>{{case.Nome}}</td>
          <td align="center"><a title="Alterar o Case" [routerLink]="['/cases-add', case.Id]">Alterar</a> | <a title="Deletar o Case" (click)="deleteProduct(case.Id)">Excluir</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="casesList?.length == 0" class="errorList">
      <span>Não existe nenhum registro de <strong>CASES</strong> cadastrados</span>
    </div>
  <button type="button" class="btnYell floatRight marginTop20" (click)="openAddPage()">Incluir Case</button>
