<app-title [title]="title"></app-title>
<div class="titlePage">
  Incluir Case
</div>
<form #form="ngForm" (submit)="onSubit(form)" novalidate>
  <div class="line">
    <label>Nome do Case</label>
  </div>
  <div class="line">
    <input [(ngModel)]="model.nome" name="nome" type="text" placeholder="Nome do Case" />
  </div>
  <div class="line">
    <label>Imagem do Case</label>
  </div>
  <div class="line">
    <input name="url" type="file" accept="image/*" multiple (change)="changeListener($event)" />
  </div>
  <div class="line">
    <div class="separatorBtn"></div>
    <button type="button" class="btnYell marginTop20 floatRight" (click)="voltarCasePage()">Voltar</button>
    <button type="submit" class="btnYell marginTop20 floatRight">Inserir Case</button>
  </div>
</form>