<app-title [title]="title"></app-title>
<div class="titlePage">
  Lista de Cases
</div>
<div *ngIf="casesList" id="CaseTable">
    <table>
      <thead>
        <tr>
          <td align="center" width="15%">Imagem</td>
          <td width="65%">Case</td>
          <td width="20%"></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let case of casesList">
          <td align="center"><img [src]="case.url" alt="" /></td>
          <td>{{case.nome}}</td>
          <td align="center"><a title="Alterar o Case" [routerLink]="['/cases-add', case.id]">Alterar</a> | <a title="Deletar o Case" (click)="deleteProduct(case.id)">Excluir</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <button type="button" class="btnYell floatRight" (click)="openAddPage()">Incluir Case</button>
