/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(./assets/fonts/1Ptrg8zYS_SKggPNwIYqWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(./assets/fonts/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(./assets/fonts/1Ptrg8zYS_SKggPNwJYtWqhPAMif.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(./assets/fonts/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html, body{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    font-size: 16px;
    color:#42505f;
    float: left;
    background-color: #EEE;
    font-size: 12px;
}

h1{
    color: #c7d301;
    letter-spacing: -2px;
    margin: 0;
    font-weight: 500;
}

h2{
    color: #42505f;
    letter-spacing: -2px;
    margin: 0;
    font-size: 27px;
    font-weight: 600;
}

p{
    margin: 30px 0;
}

#Top{
    position: fixed;
    width: 100%;
    height: 70px;
    float: left;
    background-color: #42505f;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #FFF;
    z-index: 1;
}

#Top img{
    width: 150px;
    height: auto;
    float: left; 
    padding-right: 30px;
    cursor: pointer;
    outline: none;
}

.line{
    width: 100%;
    min-height: 20px;
    float: left;
    margin: 5px 0;
    box-sizing: border-box;
}

input{
    width:350px;
    padding: 10px;
    border: 1px solid #c7d301;
    margin-bottom: 10px;
    color: #42505f;
    font-family: 'Raleway';
    outline: none;
}

.btnYell{
    min-width: 372px;
    height: auto;
    border: 1px solid #c7d301;
    color: #c7d301;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    font-weight: bold;
    box-sizing: border-box;
    outline: none;
}

.btnYell:hover{
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #9a9e4a;
}

table{
    width: 100%;
    min-height: 20px;
    float: left;
    background-color: #EEE;
    border: 1px solid #CCC;
    border: none;
    margin-bottom: 20px;
}

table tbody tr td{
    border: 1px solid #CCC;
    padding: 20px;
    background-color: #eeefdd;
}

table thead tr td{
    background-color: #FFF;
    padding: 20px;
    color: #9a9e4a;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #CCC;
}
