/* You can add global styles to this file, and also import other style files */

/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(./assets/fonts/1Ptrg8zYS_SKggPNwIYqWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(./assets/fonts/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', Arial;
    font-size: 16px;
    color:#6e721e;
    float: left;
    background-color: #fefff4;
    font-size: 14px;
    /* background-image: url(./assets/img/back1.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.errorList{
    width: 100%;
    min-height: 20px;
    float: left;
    color: #FFF;
    background-color: #B11;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #ff9696;
    border-radius: 10px;
}

#admCont{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(154, 158, 74, 0.01);
  overflow-y: auto;
}

.width50{
  width: 50%;
  float: left;
}

h1{
    color: #c7d301;
    letter-spacing: -2px;
    margin: 0;
    font-weight: 500;
}

h2{
    color: #42505f;
    letter-spacing: -2px;
    margin: 0;
    font-size: 27px;
    font-weight: 600;
}

p{
    margin: 30px 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

#Top{
    position: fixed;
    width: 100%;
    height: 70px;
    float: left;
    background-color: #6e721e;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 2px solid #FFF;
    z-index: 1;
}

#Top img{
    width: 150px;
    height: auto;
    float: left;
    padding-right: 30px;
    cursor: pointer;
    outline: none;
}

.floatRight{
    float: right!important;
}

.marginTop20{
    margin-top: 20px!important;
}

.separatorBtn{
    width: 100%;
    height: 1px;
    border-top: 1px solid #c7d301;
    float: left;
    margin: 30px 0 10px 0;
}

.line{
    width: 100%;
    min-height: 20px;
    float: left;
    margin: 5px 0;
    box-sizing: border-box;
}

input{
    width:350px;
    padding: 10px;
    border: 1px solid #c7d301;
    margin-bottom: 10px;
    color: #9a9e4a;
    font-family: 'Raleway';
    outline: none;
    background-color: #FFF;
}

label{
    color:#9a9e4a;
    font-size: 16px;
}

.btnYell{
    min-width: 172px;
    height: auto;
    border: 1px solid #c7d301;
    color: #9a9e4a;
    padding: 20px;
    text-align: center;
    background-color: #FFF;
    font-weight: bold;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    font-family: 'Raleway';
    font-size: 14px;
    margin-left: 10px;
}

.btnYell:hover{
    border: 1px solid #FFF;
    color: #FFF;
    background-color: #9a9e4a;
}

table{
    width: 100%;
    min-height: 20px;
    float: left;
    background-color: #EEE;
    border: 1px solid #CCC;
    border: none;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table tbody tr td{
    border: 1px solid #c7d301;
    padding: 20px;
    background-color: #f6f9bd;
    color: #8b9032;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

table tbody tr td img{
  width: 100px;
  border: 1px solid #c7d301;
}

table thead tr td{
    background-color: #FFF;
    padding: 20px;
    color: #8b9032;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #c7d301;
}

.titlePage{
  width: 100%;
  min-height: 20px;
  float: left;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;
  color: #90953b;
  margin-bottom: 30px;
  border: 1px solid #c7d301;
  font-size: 20px;
  font-weight: bold;
}
