<app-title [title]="title"></app-title>
<div class="width50">
    <img src="../../assets/img/hands-logo.png" alt="" />
    <p>
        Hands is a pioneer brazilian company in mobile advertising, founded in 1999, driven by the first palmtops. In 2015, Hands made the spin-off from Pontomobi, becoming an independent company, but still in e.Bricks portfolio.
    </p>
    <p>
        The Hands operation is supported by the pillars of intelligence and creation. Within these pillars, the company develops mobile media planning based on KPIs defined by customers, segments the target with on and offline tools ensuring assertiveness, and produce campaigns with creative formats using all the knowledge about  the functionality in devices mobile.
    </p>
    <p>
        In the area of ​​products, Hands delivery, monthly, more than 2 billion impressions and has a full portfolio of mobile advertising, including: Mobile Video AdNetwork, Display Mobile AdNetwork Premium, consisting of more than 80 major national publishers.
    </p>
</div>
